.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  min-height: 12rem;
  height: min-content;
  width: 12rem;
  padding: 1rem 0;
  margin: 1rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-low);
  background-image: var(--background-gradient);
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-elevation-medium);
  }
}

.cardHeader {
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--accent-color);
}

.deviceName {
  font-size: 1.1rem;
  font-weight: 700;
}

.deviceID {
  margin-top: -5px;
  font-size: 0.7rem;
  color: var(--gray);
}

.connectionState {
  margin-top: 0.5rem;
}

.connectionStateIcon {
  display: block;
  position: absolute;
  left: 7px;
  top: 7px;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
}

.connected {
  background-color: var(--color-connected);
}
.disconnected {
  background-color: var(--color-disconnected);
}
.poorConnection {
  background-color: var(--color-poor-connection);
}

.connectionStateText {
  margin-left: 0.3rem;
  font-weight: 600;
}

.textConnected {
  color: var(--color-connected);
}
.textDisconnected {
  color: var(--color-disconnected);
}
.textPoorConnection {
  color: var(--color-poor-connection);
}
