.modalContainer {
  position: absolute;
  top: 20%;
  right: 40%;
  height: 35rem;
  width: 25rem;
  padding: 1rem;
  background-image: var(--background-gradient);
  box-shadow: var(--shadow-elevation-medium);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid var(--border-color);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.closeModalButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--light-gray);
  }
}

.modalDeviceName {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.modalDeviceID {
  margin-top: -2rem;
  font-size: 0.8rem;
  color: var(--gray);
}

.modalConnectionState {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.modalConnectionStateIcon {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
}

.modalConnectionStateText {
  margin-left: 0.3rem;
  font-weight: 600;
}

.connected {
  background-color: green;
}
.disconnected {
  background-color: red;
}
.poorConnection {
  background-color: yellow;
}

.textConnected {
  color: green;
}
.textDisconnected {
  color: red;
}
.textPoorConnection {
  color: yellow;
}
