.modalContainer {
  position: absolute;
  top: 20%;
  right: 40%;
  z-index: 10;
  min-height: 23rem;
  min-width: 20rem;
  padding: 1rem;
  background-image: var(--background-gradient);
  box-shadow: var(--shadow-elevation-medium);
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.closeModalButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--light-gray);
  }
}

.modalDeviceName {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.modalDeviceID {
  margin-top: -2rem;
  font-size: 0.8rem;
  color: var(--gray);
}

.modalConnectionState {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.modalConnectionStateIcon {
  position: absolute;
  left: 13px;
  top: 13px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
}

.connected {
  background-color: var(--color-connected);
}
.disconnected {
  background-color: var(--color-disconnected);
}
.poorConnection {
  background-color: var(--color-poor-connection);
}

.modalConnectionStateText {
  margin-left: 0.3rem;
  font-weight: 600;
}

.textConnected {
  color: var(--color-connected);
}
.textDisconnected {
  color: var(--color-disconnected);
}
.textPoorConnection {
  color: var(--color-poor-connection);
}

.detailsItem {
  margin-bottom: 0.7rem;
  font-weight: 600;
  text-align: center;
}

.deviceOn {
  color: var(--color-connected);
}
.deviceOff {
  color: var(--color-disconnected);
}

.colorPreview {
  display: inline-block;
  height: 30px;
  width: 175px;
  margin: 5px 0 0 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
