html {
  // colors
  --white: hsl(0deg 0% 98%);
  --black: hsl(120deg 56% 4%);
  --gray: hsl(0deg 0% 66%);
  --accent-color: hsl(354, 85%, 52%);
  --border-color: hsla(0, 0%, 0%, 40%);

  // shadows
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-medium: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.36),
    2.2px 2.2px 3.5px -0.8px hsl(var(--shadow-color) / 0.36),
    5.4px 5.4px 8.6px -1.7px hsl(var(--shadow-color) / 0.36),
    13.2px 13.3px 21.1px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.7px 0.7px 1.1px hsl(var(--shadow-color) / 0.34),
    3.8px 3.9px 6.1px -0.4px hsl(var(--shadow-color) / 0.34),
    7.2px 7.2px 11.5px -0.7px hsl(var(--shadow-color) / 0.34),
    11.8px 11.9px 18.9px -1.1px hsl(var(--shadow-color) / 0.34),
    18.8px 18.9px 30px -1.4px hsl(var(--shadow-color) / 0.34),
    29.4px 29.6px 46.9px -1.8px hsl(var(--shadow-color) / 0.34),
    44.7px 45px 71.4px -2.1px hsl(var(--shadow-color) / 0.34),
    65.8px 66.3px 105.1px -2.5px hsl(var(--shadow-color) / 0.34);

  // misc.
  --border-radius: 5px;
}
